<label><span id='session-state'></span></label>
<br>
<label><span id='disclosure-state'></span></label>
<br>
<label><span id='credential-state'></span></label>
<br>

<script>
    
    console.log('selective disclosure request:');
    rawSdr = "<%= rawSdr %>";
    console.log(rawSdr);
        
</script>
<script src="https://identity2.i3-market.eu/login.js"></script>