<label><span id='session-state'></span></label>
<br>
<label><span id='disclosure-state'></span></label>
<br>
<label><span id='credential-state'></span></label>
<br>

<script>

    
    // print as debug the sdr    
    console.log('selective disclosure request:')
    rawSdr = "<%= rawSdr %>";
    console.log(rawSdr)
        
</script>
<script src="https://gobberr.github.io/public-pairing-scripts/login.js"></script>