<h3 id="message-box1"></h3>
<label>Session <span id='session-state'></span></label>
<script>

    
    // print as debug the sdr    
    console.log('selective disclosure request:')
    rawSdr = "<%= rawSdr %>";
    console.log(rawSdr)
    
    document.getElementById('message-box1').innerHTML += 'Waiting for the Pairing...';

        
</script>
<script src="/js/login.js"></script>