
app/node_modules
app/dist
environments

# Ignore development configuration files
app/misc/identity.json
app/misc/jwks.json

app/src/routes/api-spec/api.json

# Ignore docker volumes
volumes

# DB initial state
db/scripts/mongo-init.js

# Environmental settings
.env

.DS_Store

.vscode/settings.json

app/database.sqlite

app/.npmrc
