version: '3.6'

services:
  oidc-provider-app:
    build: 
      context: .
      args: 
        USER_ID: ${USER_ID-1000}
        GROUP_ID: ${GROUP_ID-1000}
      dockerfile: ./Dockerfile.dev
    image: i3market/oidc-provider-dev
    container_name: oidc-provider-app
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./app:/app
      - oidc-ssh:/ssh
    ports:
      - ${HOST_BIND_IP-127.0.0.1}:$HOST_PORT:3000
      - 127.0.0.1:9229:9229
    command:
      - ./scripts/start.sh
    networks:
      - oidc-net
      - reverse-proxy
    depends_on:
      - oidc-provider-db

  oidc-provider-db:
    container_name: oidc-provider-db
    image: mongo:4-bionic
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 27017:27017
    volumes:
      - oidc-mongo:/data/db
      - ./db/scripts:/data/scripts
      - ./db/scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: --quiet --setParameter logLevel=0
    networks:
      - oidc-net
      
networks:
  oidc-net:
  reverse-proxy:
    external: true

volumes:
  oidc-mongo:
  oidc-ssh:
